{% if site.comments.enable and site.comments.type == 'valine' %}
    <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
    <div class="post-meta">
        <span style="margin-left:10px;">评论</span>
      </div>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '{{ site.comments.appId }}',
            appKey: '{{ site.comments.appKey }}',
            meta: ['nick', 'mail'],
            requiredFields: ['nick'],
            placeholder: '请畅所欲言...',
            pageSize: 20,
            visitor: true,
            recordIP: true,
            enableQQ: true
        })
    </script>
    <style>
        .vwrap{
            background-color: white;
        }
        .v[data-class="v"] p{
            color: whitesmoke;
        }
    </style>
{% endif %}